#about {
  min-height: 10vh;
}
.section_title {
  margin-bottom: 3rem;
}
.about_container {
  min-width: 624px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  column-gap: 1.875rem;
  padding: 1rem;
}

.about_data {
  padding: 1.875rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  column-gap: 1.875rem;
  align-items: center;
}

.about_info {
  text-align: center;
  border-radius: var(--border-radius);
  transition: all 0.3s ease-in-out;
  background-color: var(--first-color);
  box-shadow: var(--shadow);
  padding: 2rem;
  outline: 3px solid var(--first-color);
  outline-offset: -2rem;
  transition: all 0.3s ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);
}
.about_info:hover {
  position: relative;
  outline-offset: 2rem;
}

.about_description {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
