.section_title {
  margin-bottom: 3rem;
}
.about_container {
  min-width: 624px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 3rem;
}

.about_data {
  padding: 1.875rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  column-gap: 1.875rem;
  align-items: center;
}

.about_info {
  padding: 2rem;
}

.about_description {
  text-align: center;
  background-color: var(--container-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 4rem;
  color: var(---text-color);
  font-size: var(--normal-font-size);
  transition: 0.3s all ease-in-out;
  outline: 5px solid transparent;
}

.about_description:hover {
  transition: 0.3s all ease-in-out;
  outline: 5px solid var(--first-color);
  outline-offset: -1rem;
}
