.about {
}

.about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  column-gap: 1.875rem;
}

.about_data {
  padding: 1.875rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  column-gap: 1.875rem;
  align-items: center;
}

.about_info {
  text-align: center;
  border-radius: var(--border-radius);
  transition: all 0.3s ease-in-out;
  background-color: var(--first-color);
  padding: 3rem;
  outline: 3px solid var(--first-color);
}
.about_info:hover {
  outline-offset: 2rem;
}
