.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  max-width: 640px;
  text-align: center;
  z-index: 1;
}

.home_img {
  position: relative;
  background-color: rgba(120, 120, 120, 1.7);
  width: 15rem;
  border-radius: 50%;
  margin-bottom: 4.5rem;
  box-shadow: 0 0 10px rgba(238, 99, 82, 1);
  outline: 5px solid rgba(238, 99, 82, 0.5);
  outline-offset: 1rem;
  transition: 500ms ease-in-out;
  animation: sliderShapes linear infinite;
  -webkit-animation: pulseBorder 5s linear infinite;
  /* animation: pulseBorder 5s infinite cubic-bezier(0.4, 0, 0.2, 1); Adiciona a animação ao passar o mouse */
}

/* Animação da borda pulsante */
@keyframes pulseBorder {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.home_img:hover {
  outline-offset: -0.7rem;
  box-shadow: 0 0 40px rgba(238, 99, 82, 0.9);
}

.home_name {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 0.5rem;
}

.home_socials {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.75rem;
  margin: 1.5rem 0;
}
.home_social-link {
  color: var(--title-color);
  font-size: 2.3rem;
  transition: 0.3s;
}
.home_social-link:hover {
  color: hsl(43, 100%, 68%);
}

.scroll_down {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  width: 100%;
}

.home_scroll-name {
  font-size: var(--small-font-size);
}

.mouse {
  border: 2px solid #454360;
  display: block;
  height: 2rem;
  width: 1.25rem;
  margin: auto;
  border-radius: 1rem;
  margin-top: 0.75rem;
  position: relative;
  transition: 6s all ease-in-out;
}

@keyframes ani-mouse {
  0% {
    top: 0;
  }
  50% {
    top: 40;
  }
  100% {
    top: 80%;
  }
}

.whell {
  background-color: var(--title-color);
  border-radius: 100%;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  transform: translateX(-50%);
  transition: 6s all ease-in-out;
  animation: ani-mouse 3s ease-out infinite;
}

.shapes {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.shape {
  position: absolute;
}
.s1 {
  left: 2%;
  top: 10%;
}
.s2 {
  left: 18%;
  top: 30%;
}
.s3 {
  left: 5%;
  bottom: 30%;
}
.s4 {
  left: 2%;
  bottom: 10%;
}
.s5 {
  left: 44%;
  top: 10%;
}
.s6 {
  left: 36%;
  bottom: 10%;
}
.s7 {
  top: 20%;
  right: 20%;
}
.s8 {
  right: 24%;
  bottom: 20%;
}
.s9 {
  right: 2%;
  top: 10%;
}
.s10 {
  top: 45%;
  right: 11%;
}
.s11 {
  bottom: 10%;
  right: 2%;
}
